@media screen and (min-width: 650px) {

  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
    min-height: 44px;
    min-width: 44px;
  }

  .app-bar .app-bar__menu {
    display: none;
    min-height: 44px;
    min-width: 44px;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
    min-height: 44px;
    min-width: 44px;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
    min-height: 44px;
    min-width: 44px;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
    min-height: 44px;
    min-width: 44px;
  }

  .restaurants {
    grid-template-columns: 1fr 1fr;
    min-height: 44px;
    min-width: 44px;

  }

  .restaurant {
    grid-template-columns: auto 1fr;
    min-height: 44px;
    min-width: 44px;
  }

  .restaurant .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 44px;
    min-width: 44px;
  }

  .restaurant .restaurant__overview {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 44px;
    min-width: 44px;
  }

  .restaurant .container_review {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 44px;
    min-width: 44px;
  }

}

@media screen and (min-width: 768px) {
  .restaurant-item .restaurant-item__header .restaurant-item__header__poster {
    width: 100%;
    min-height: 260px;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
    min-height: 44px;
    min-width: 44px;

  }
}

@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
    min-height: 44px;
    min-width: 44px;

  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
    min-height: 44px;
    min-width: 44px;

  }
}

@media screen and (min-width: 1600px) {
  .restaurants {
    grid-template-columns: repeat(5, 1fr);
    min-height: 44px;
    min-width: 44px;
  }
}